<div >
    <img id="image" src="~/Content/images/8ball.jpg" onclick="setTimeout(getPhrase, 1000)" />
</div>
<p id="empty" class="col-md-3">t is a long established fact that a reader wissssssssssssssssssssssssss Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).     </p>
<p id="fortune" class="col-md-2"></p>